{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Student Dash</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


 <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
  <link rel="stylesheet" href="{% static 'css/helper.css' %}">
    {% if debug %}

  {% else %}
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-74454041-4', 'auto');
  ga('send', 'pageview');
  </script>
  {% endif %}
  </head>
<body>
 <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="{% url 'home:landing' %}" class="brand-logo"><i class="material-icons left medium">assignment_turned_in</i>ReviewMe</a>
    {% if request.user.is_authenticated %}
      <ul class="right hide-on-med-and-down">
        <li><a href="{% url 'home:landing' %}">Projects</a></li>
        <li><a href="{% url 'projects:reviewer_dashboard' %}">Reviwer Dashboard</a></li>
        <li><a  href="{% url 'users:logout_user' %}">Log Out</a></li>
      </ul>
    {% else %}
      <ul class="right hide-on-med-and-down">
        <li><a  class="btn deep-orange" href="{% url 'users:login_user' %}">Sign In</a></li>
      </ul>
    {% endif %}
    {% if request.user.is_authenticated %}
      <ul class="side-nav" id="nav-mobile">
        <li><a href="{% url 'home:landing' %}">Projects</a></li>
        <li><a href="{% url 'projects:reviewer_dashboard' %}">Reviwer Dashboard</a></li>
        <li><a  href="{% url 'users:logout_user' %}">Log Out</a></li>
      </ul>
    {% else %}
      <ul class="side-nav" id="nav-mobile">
        <li><a  class="btn deep-orange" href="{% url 'users:login_user' %}">Sign In</a></li>
      </ul>
    {% endif %}
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

<main>
  <div class="container margin-top-50">
    <div class="row left-align">
        <h3 class="thin">Submitted Projects</h3>
    </div>
    <div class="row margin-top-25">

        <div class="col s10">
          <table class="bordered">
            <thead>
              <tr>
                  <th data-field="id">Project Name</th>
                  <th data-field="name">Status</th>
              </tr>
            </thead>

            <tbody>
              {% for dictionary in resubmit_projects %}
              <tr>
                  <td>{{ dictionary.project__name }}</td>
                  <td>Resubmission Required</td>
                  <td><a href="/content/categories/projects/{{dictionary.project__id}}/" class="waves-effect waves-light btn">Redo
                        <i class="material-icons right">redo</i></a></td>
              </tr>
              {% endfor %}
               {% for dictionary in awaiting_projects %}
              <tr>
                  <td>{{ dictionary.project.name }}</td>
                  <td>Awaiting Review</td>
                  <td><a href="/content/categories/projects/" class="waves-effect waves-light btn">View
                        <i class="material-icons right">redo</i></a></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>

      </div>
  </div>
  </div>
  <div class="container margin-top-100">
    <div class="row left-align">
        <h3 class="thin">Reviewed Projects</h3>
    </div>
    <div class="row margin-top-25">

        <div class="col s10">
          <table class="bordered">
            <thead>
              <tr>
                  <th data-field="id">Project Name</th>
                  <th data-field="name">Review Price</th>
              </tr>
            </thead>

            <tbody>
              {% for dictionary in finished_projects %}
                <tr>
                  <td>{{ dictionary.project.name }}</td>
                  <td>$ {{ dictionary.project.cost}}</td>
                  <td><a href="/content/submission/{{dictionary.id}}/" class="waves-effect waves-light btn">View
                        <i class="material-icons right">redo</i></a></td>
                </tr>
              {% endfor %}

            </tbody>
          </table>

      </div>
  </div>
  </div>
  </main>

  <footer class="page-footer transparent">
   <div class="footer-copyright deep-orange lighten-3">
     <div class="container">
       <div class="row">
         <div class="col s3 m2">
           <a href="{% url 'info:about' %}"> About </a>
         </div>
         <div class="col s3 m2">
           <a href="{% url 'users:signup_user' %}"> Register </a>
         </div>
         <div class="col s3 m2">
           <a href="{% url 'info:privacy' %}"> Privacy </a>
         </div>
         <div class="col s3 m2">
           © ReviewMe 2016
         </div>
       </div>
     </div>
   </div>
 </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
  <script type="text/javascript" async>
    (function($){
  $(function(){

    $('.button-collapse').sideNav();

  }); // end of document ready
})(jQuery); // end of jQuery name space


   $(document).ready(function() {
    Materialize.updateTextFields();
  });

  </script>
  {% if messages %}
      {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
        <script>Materialize.toast('{{ message }}', 4000, 'rounded teal')</script>
        {% else %}
        <script>Materialize.toast('{{ message }}', 4000, 'rounded deep-orange')</script>
        {% endif %}
      {% endfor %}
  </ul>
  {% endif %}

  </body>
</html>
